<h1><%= company_rigs %></h1>


<% if @cards.empty? %>

<h2>No cards yet. Create a card <%= link_to "here", new_card_path %></h2>

<% else %>
<%= render partial: "cards", locals: {cards: @cards} %>
<% end %>